# created by virtualenv automatically
bin
lib
db.sqlite3
pyvenv.cfg
.idea/
Great_Library/__pycache__
.env
books/__pycache__/
books/migrations/__pycache__/
users/migrations/__pycache__/
users/__pycache__/
borrowings/migrations/__pycache__/
borrowings/__pycache__/
tests/__pycache__/